<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blockchain Client</title>
    <link rel = "stylesheet" href = "/static/vendor/bootstrap/css/bootstrap.min.css">
    <link rel = "stylesheet" href = "/static/vendor/DataTables/css/datatables.min.css">
    <link rel = "stylesheet" href = "/static/vendor/font-awesome/font-awesome.min.css">
    <link rel = "stylesheet" href = "/static/vendor/bootstrap/css/costume.css">

</head>
<body>
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/vendor/DataTable/js/datatables.min.js"></script>
    <script src="/static/vendor/DataTables/js/ellipsis.min.js"></script>
    <script>
        $(function(){

        })
    </script>
</body>
</html>